################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Refresher1C/Refresher1C-log-20220818.txt
/.vs/ProjectEvaluation/stinweb.metadata.v5.1
/.vs/ProjectEvaluation/stinweb.projects.v5.1
/.vs/StinWeb/FileContentIndex/11af8e89-ef63-432b-ad19-ffc786efa8a3.vsidx
/.vs/StinWeb/FileContentIndex/1db777d7-b440-4624-b4c3-9cab79b43e53.vsidx
/Scaffold-DbContext.txt
/.vs/ProjectEvaluation/stinweb.metadata.v7.bin
/.vs/ProjectEvaluation/stinweb.projects.v7.bin
/.vs/StinWeb/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/StinWeb/v17/.futdcache.v2
/.vs/StinWeb/v17/.suo
/.vs/StinWeb/v17/fileList.bin
/HttpExtensions/obj/Debug/net6.0/HttpExtensions.csproj.AssemblyReference.cache
/Market/obj/Debug/net6.0/Market.csproj.AssemblyReference.cache
/Refresher1C/obj/Debug/net6.0/Refresher1C.csproj.AssemblyReference.cache
/SberClasses/obj/Debug/net6.0/SberClasses.csproj.AssemblyReference.cache
/AtolOnlineClasses/obj/Debug/net6.0/AtolOnlineClasses.csproj.AssemblyReference.cache
/StinWeb/bin/Release/net6.0/StinWeb.dll
/StinWeb/bin/Release/net6.0/StinWeb.pdb
/StinWeb/obj/Debug/net6.0/StinWeb.csproj.AssemblyReference.cache
/StinWeb/Properties/PublishProfiles/FolderProfile.pubxml.user
/Test2/obj/Debug/net6.0/Test2.csproj.AssemblyReference.cache
/WbClasses/obj/Debug/net6.0/WbClasses.csproj.AssemblyReference.cache
/StinWeb/obj/Release/net6.0/PubTmp/Out/StinWeb.dll
/StinWeb/obj/Release/net6.0/PubTmp/Out/StinWeb.pdb
/StinWeb/obj/Release/net6.0/StinWeb.csproj.AssemblyReference.cache
/StinWeb/obj/Release/net6.0/StinWeb.dll
/StinWeb/obj/Release/net6.0/StinWeb.pdb
/.vs/StinWeb/FileContentIndex/a65f7006-98f0-4159-bb73-d9bc87612f52.vsidx
/AliExpressClasses/bin/*.*
/AliExpressClasses/obj/Debug/net6.0/AliExpressClasses.csproj.AssemblyReference.cache
/Market/bin/Debug/net6.0/appsettings.Development.json
/Market/bin/Debug/net6.0/Market.dll
/Market/bin/Debug/net6.0/Market.pdb
/Market/bin/Debug/net6.0/OzonClasses.dll
/Market/bin/Debug/net6.0/OzonClasses.pdb
/Market/bin/Release/net6.0/appsettings.Development.json
/Market/bin/Release/net6.0/StinClasses.dll
/Market/bin/Release/net6.0/StinClasses.pdb
/Market/obj/Debug/net6.0/Market.dll
/Market/obj/Debug/net6.0/Market.MvcApplicationPartsAssemblyInfo.cs
/Market/obj/Debug/net6.0/Market.pdb
/Market/obj/Release/net6.0/PubTmp/Out/appsettings.Development.json
/Market/obj/Release/net6.0/PubTmp/Out/StinClasses.dll
/Market/obj/Release/net6.0/PubTmp/Out/StinClasses.pdb
/Market/obj/Release/net6.0/Market.csproj.AssemblyReference.cache
/Market/Properties/PublishProfiles/FolderProfile1.pubxml.user
/Market/Properties/PublishProfiles/FolderProfile2.pubxml.user
/Market/Properties/PublishProfiles/FolderProfile3.pubxml.user
/Market/appsettings.Development.json
*.txt
/Market/Market.csproj.user
/OzonClasses/bin/Debug/net6.0/OzonClasses.dll
/OzonClasses/bin/Debug/net6.0/OzonClasses.pdb
/OzonClasses/obj/Debug/net6.0/OzonClasses.dll
/OzonClasses/obj/Debug/net6.0/OzonClasses.pdb
/Refresher1C/bin/Debug/net6.0/HttpExtensions.dll
/Refresher1C/bin/Debug/net6.0/HttpExtensions.pdb
/Refresher1C/bin/Debug/net6.0/SberClasses.dll
/Refresher1C/bin/Debug/net6.0/JsonExtensions.dll
/Refresher1C/bin/Debug/net6.0/JsonExtensions.pdb
/Refresher1C/bin/Debug/net6.0/PdfHelper.dll
/Refresher1C/bin/Debug/net6.0/PdfHelper.pdb
/Refresher1C/bin/Debug/net6.0/Refresher1C.dll
/Refresher1C/bin/Debug/net6.0/Refresher1C.pdb
/Refresher1C/bin/Debug/net6.0/SberClasses.pdb
/Refresher1C/bin/Debug/net6.0/StinClasses.dll
/Refresher1C/bin/Debug/net6.0/StinClasses.pdb
/Refresher1C/bin/Debug/net6.0/WbClasses.dll
/Refresher1C/bin/Debug/net6.0/WbClasses.pdb
/Refresher1C/bin/Debug/net6.0/YandexClasses.dll
/Refresher1C/bin/Debug/net6.0/YandexClasses.pdb
/Refresher1C/obj/Debug/net6.0/Refresher1C.dll
/Refresher1C/obj/Debug/net6.0/Refresher1C.pdb
/Refresher1C/obj/Release/net6.0/Refresher1C.csproj.AssemblyReference.cache
/StinClasses/bin/Release/net6.0/StinClasses.dll
/StinClasses/bin/Release/net6.0/StinClasses.pdb
/StinClasses/obj/Debug/net6.0/StinClasses.csproj.AssemblyReference.cache
/StinClasses/obj/Release/net6.0/StinClasses.dll
/StinClasses/obj/Release/net6.0/StinClasses.pdb
/YandexClasses/obj/Debug/net6.0/YandexClasses.csproj.AssemblyReference.cache
/.vs
