################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Refresher1C/Refresher1C-log-20220818.txt
