################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Refresher1C/Refresher1C-log-20220818.txt
/.vs/ProjectEvaluation/stinweb.metadata.v5.1
/.vs/ProjectEvaluation/stinweb.projects.v5.1
/.vs/StinWeb/FileContentIndex/11af8e89-ef63-432b-ad19-ffc786efa8a3.vsidx
/.vs/StinWeb/FileContentIndex/1db777d7-b440-4624-b4c3-9cab79b43e53.vsidx
