 <tr height=25 style='height:15.0pt'>
  <td height=25 class=xl693769 style='height:15.0pt;border-top:none'>{Ном}</td>
  <td colspan=6 class=xl683769 width=473 style='border-left:none;width:284pt'>{Наименование}</td>
  <td class=xl693769 style='border-top:none;border-left:none'>{Единица}</td>
  <td class=xl693769 style='border-top:none;border-left:none'>{Количество}</td>
  <td class=xl693769 style='border-top:none;border-left:none'>{ЦенаСоСкидкой}</td>
  <td class=xl693769 style='border-top:none;border-left:none'>{СуммаСоСкидкой}</td>
 </tr>
