<div id="qr-reader" style="width: 600px"></div>

<script>
        function onScanSuccess(decodedText, decodedResult) {
            console.log(`Code scanned = ${decodedText}`, decodedResult);
            alert(decodedText);
            alert(decodeResult);
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
	        "qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
</script>