/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.table-hover tr {
    cursor: pointer;
}
.selected,
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.border-right {
    border-right: 1px solid #ccc !important;
}
input.radio {
    width: auto;
}
.upload-button {
    background: #f0f0f0;
    border-radius: 100px;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
}

.upload-button .label {
    line-height: 200px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
}

.upload-button input {
    opacity: 0;
    cursor: pointer;
    font-size: 200px;
    width: 200px;
    height: 200px;
}

.dropdown-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-menu a {
    overflow: hidden;
    outline: none;
}

.bss-input {
    border: 0;
    margin: -3px;
    padding: 3px;
    outline: none;
    color: #000;
    width: 99%;
}

.bss-input:hover {
    background-color: #f5f5f5;
}

.additem .check-mark {
    opacity: 0;
    z-index: -1000;
}

.addnewicon {
    position: relative;
    padding: 4px;
    margin: -8px;
    padding-right: 50px;
    margin-right: -50px;
    color: #aaa;
}

.addnewicon:hover {
    color: #222;
}
