 <tr height=19 style='height:11.25pt'>
  <td height=19 class=xl157813 style='height:11.25pt'></td>
  <td colspan=2 class=xl717813>{Ном}</td>
  <td colspan=11 class=xl727813 width=286 style='width:176pt'>{Товар}</td>
  <td colspan=3 class=xl727813 width=78 style='width:48pt'>{Производитель}</td>
  <td colspan=4 class=xl737813 width=104 style='border-left:none;width:64pt'>{Артикул}</td>
  <td colspan=2 class=xl747813>{Количество}</td>
  <td colspan=2 class=xl757813>{Единица}</td>
  <td colspan=4 class=xl767813>{КолМест}</td>
  <td colspan=4 class=xl777813>{КолЭтикеток}</td>
 </tr>
