@using StinWeb.Models.DataManager.Extensions
@using System.Security.Claims

@{
    ViewBag.Title = "Регистрация наборов";
}
<audio id="soundOk" src="/lib/sounds/OkSound.mp3" preload="auto"></audio>
<audio id="soundBeep" src="/lib/sounds/beep.mp3" preload="auto"></audio>
<div class="alert alert-danger d-none" role="alert">
    <strong>Ошибка!</strong><span id="alertText" style="padding-left: 10px;"> Change a few things up and try submitting again.</span>
</div>
<div style="width:0;overflow:hidden;">
    <input id="barcodeText" />
</div>
<div id="scanning" class="d-flex justify-content-center">
    <strong class="text-success"> Сканирование... </strong>
    <div class="spinner-border text-success" role="status" aria-hidden="true"></div>
</div>
<div class="modal fade" id="formNabor" tabindex="-1" role="dialog" aria-labelledby="formNabor" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body"></div>
        </div>
    </div>
</div>

<script>
    $("#barcodeText").focus();
    $('#barcodeText').on('blur', function () {
        _this = this;
        timerScan = setTimeout(function () {
            _this.focus();
        }, 0);
    });
    $("#barcodeText").on("change", function () {
        //alert(this.value);
        var url = '@Url.Action("GetLabelsPdf", "ИнтернетЗаказы")' + '?id=' + this.value.replaceAll('%', '_') + "&isNaborDocId=true#view=fitH";
        printPage(url, true);
        ShowFormNabor(this.value);
        this.value = "";
    });
    function ShowFormNabor(barcodeText) {
        $.ajax({
            url: "NaborScan",
            type: "post",
            datatype: "xml",
            data: {
                barcodeText: barcodeText
            },
            async: true,
            cache: false,
            beforeSend: function () {
                EnableBusyScreen()
            },
            success: function (obj) {
                if (obj) {
                    document.getElementById('soundOk').play();
                    $(".modal-body").html(obj);
                    $("#formNabor").modal("show");
                    setTimeout(() => { $("#formNabor").modal('hide'); }, 2000);
                }
            },
            error: function (jqXHR, exception, f) {
                var msg = 'Internal Server Error';
                if (jqXHR.status == 502) {
                    if (jqXHR.responseText != "")
                        msg = jqXHR.responseText;
                }
                $("#alertText").text(msg);
                $('.alert').removeClass('d-none');
                document.getElementById('soundBeep').play();
                setTimeout(() => { $('.alert').addClass('d-none'); $("#alertText").text(""); }, 3000);
            },
            complete: function () {
                DisableBusyScreen()
            },
        });
    }
</script>
